$backgroundColorGray: #f5f5f5;

.signin_inputbox {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    height: 40px;
    padding: 10px 8px;
    margin-top: 10px;
    background-color: $backgroundColorGray;
}