.update {
    border-left: 5px solid;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.update_title {
    font-weight: 700;
    color: #666666;
    font-size: 14px;
    margin-bottom: 5px;
}

.update_meta {
    font-weight: 700;
    color: #999999;
    font-size: 12px;
    margin-bottom: 5px;
}